.row
    .col-md-6
        form#articleForm(action=formAction)
            .form-group
                label(for='articleTitle') Article title
                input.form-control#articleTitle(name='title' type='text' value=article.title)
            .form-group
                label(for='articleContent') Article content
                textarea.form-control#articleContent(name='content' type='text' rows='6')= article.content
            if errors
                .form-group
                    ul.list-unstyled.text-danger
                        each err in errors
                            li= err.message
            .form-group
                button.btn.btn-primary(type='submit') Save article
