extends ../layout

block content
    h1= title
    p Here you can add article
    p
        a(href='/articles') Articles list
    include ./_form

block append scripts
    script(src='/js/articles/articleForm.js')