extends ../layout

block content
    h1= title
    p This is the articles main page
    p
        a(href='/articles/add') Add article

    if message === 'deleted'
        .alert.alert-success Article deleted

    each article in articles
        a(href='/articles/' + article.id)
            h3= article.title
        p= article.content
