extends ../layout

block content
    h1= title
    p This is the articles main page
    p
        a(href='/articles/add') Add article

    while message = flash.shift()
        div(class='alert alert-#{message.type}')= message.message

    each article in articles
        a(href='/articles/' + article.id)
            h3= article.title
        p= article.content
