extends ../layout

block content
    if message === 'saved'
        .alert.alert-success New article saved
    else if message === 'updated'
        .alert.alert-success Article updated

    h1= title
    div= article.content
    br
    p
        a.btn.btn-default#articleEdit(href='/articles/' + article.id + '/edit') Edit article
        a.btn.btn-danger#articleDelete(href='/articles/' + article.id) Delete article

block append scripts
    script(src='/js/articles/ajaxButtons.js')